:root {
  --bg-color: #222222;
  --text-color: rgb(240, 240, 240);
  --link-color: #FFA500;
  --nav-bg: rgba(0, 0, 0, 0.165);
  --nav-hover: radial-gradient(rgb(34, 34, 60), #222222);
  --font-main: 'Roboto', Arial, sans-serif;
  --border-radius: 0.5em;
}

* {
  box-sizing: border-box;
  transition: background-color 0.4s;
}

body {
  background-color: var(--bg-color);
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  color: var(--text-color);
  font-family: var(--font-main);
}

a {
  color: var(--link-color);
}

button {
  padding: 0.5em;
  border-radius: var(--border-radius);
  border: 1px solid #111;
  cursor: pointer;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  cursor: no-drop;
}

.lightbox img {
  max-width: 75%;
  max-height: 75%;
  width: auto;
  height: auto;
  object-fit: contain;
}

#img1:target,
#img2:target,
#img3:target {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre {
  cursor: context-menu;
}

.discord {
  width: 75%;
  background-color: #1c1b1e;
  border-radius: var(--border-radius);
}

.discord button {
  padding: 0.5em;
  background-color: #5865f2;
  color: white;
}

.discord a {
  text-decoration: none;
  color: #FFF;
}

.discord button:hover {
  background-color: #2d3fff;
}

.discord-content {
  padding: 1em;
  padding-top: 0;
}

.wallpaper img {
  width: 100%;
  max-width: 40em;
  border-radius: var(--border-radius);
  display: block;
}

.download a {
  font-weight: bold;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: rgba(0, 0, 0, 0.8)
}

.description {
  font-style: italic;
  color: lightgray;
}

/* Layout */
main {
  max-width: 41em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

figure {
  width: 100%;
  max-width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

figure img {
  width: 100%;
  border-radius: var(--border-radius);
  display: block;
}

figure figcaption {
  text-align: center;
  color: #111;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5em;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  width: 100%;
  margin-top: -4.5em;
}

.navbar ul {
  background-color: var(--nav-bg);
  border-radius: 0 0 1.5rem 1.5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar ul li:first-child {
  margin-right: auto;
}

.navbar ul li:last-child {
  margin-left: auto;
}

.navbar li a,
.dropbtn {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar li a:hover,
.dropdown:hover .dropbtn {
  background-image: var(--nav-hover);
}

.navbar li.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--nav-bg);
  min-width: 160px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 768px) {
  .pc-navbar {
    display: none;
  }

  .navbar ul {
    flex-direction: column;
  }
}
